{% extends 'main.html' %}
{% load static %}
{% block content %}


<body>
    <div id="contact-box">
        <div style="display:flex; justify-content:flex-start;">
            <div id="user-image">
                <img class="contact-image" src="{{contact.ProfilePicture.url}}"></img>
            </div>

        <div id="add-contact-popup">
            <div style="width:100%; padding-top: 10px; margin-left:40px; display: flex; flex-direction:row; align-items: center;">
                <div class="unselectable" style="font-size: 32px; margin-right: 95px;" onclick="closeForm()">X</div>
                <div>Edit Contact</div>
            </div>
            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <!--{{ form.as_p }}-->
                <input id="edit-name" class = "contact-input" type="text" placeholder="Name" name="name">
                <input id="edit-phnum" class = "contact-input" type="text" placeholder="Phone" name="phnum">
                <input id="edit-email" class = "contact-input" type="text" placeholder="Email" name="email">
                <input id="edit-address" class = "contact-input" type="text" placeholder="Address" name="address">
                <input id="edit-PCM" class = "contact-input" style="font-size:18px;" type="text" placeholder="Preffered Contact Method" name="PCM">
                <input class = "contact-input" id="description-input" type="text" placeholder="Description" name="Description">
                <input id="edit-ProfilePicture" style="font-size:18px; margin-bottom:20px;" type="file" name="ProfilePicture">
                <input class="new-contact-buttons" type="submit" value="Confirm"/></input>
            </form>
        </div>

            <div id="contact-edit-button-box">
                <div id="edit-contact-button" class="unselectable" onclick="openForm()">Edit Contact</div>
                <a id="delete-contact-button" class="unselectable" href="/delete/{{ contact.id }}/">Delete Contact</a>
            </div>
        </div>







        <div>
            <div id="contact-name" style="margin-bottom:40px;">Name: {{contact.name}}</div>
            <div id="contact-email">Email: {{contact.email}}</div>
            <div id="contact-phone">Phone: {{contact.phnum}}</div>
            <div id="contact-preffered-contact-info" style="margin-bottom:40px;">Prefered Contact Method: {{contact.PCM}}</div>
            <div id="contact-address">Address: {{contact.address}}</div>
            <div id="contact-info" style="height:250px;">Info: {{contact.Description}}</div>
            
        </div>
        <a id="back-button" class="unselectable" href="{% url 'home' %}">Back</a>
    </div>

    <script>
        function openForm(){
            document.getElementById("add-contact-popup").style.display = "flex";

            document.getElementById("edit-name").value = "{{contact.name}}";
            document.getElementById("edit-phnum").value = "{{contact.phnum}}";
            document.getElementById("edit-email").value = "{{contact.email}}";
            document.getElementById("edit-address").value = "{{contact.address}}";
            document.getElementById("edit-PCM").value = "{{contact.PCM}}";
            document.getElementById("description-input").value = "{{contact.Description}}";
            document.getElementById("edit-ProfilePicture").value = "{{contact.ProfilePicture}}";

        }

        function closeForm(){
            document.getElementById("add-contact-popup").style.display = "none";
        }


    </script>

</body>

{% endblock %}