{% extends 'main.html' %}
{% load static %}
{% block content %}


<body>
    <div style=" margin:auto; margin-top: 50px; width: 400px; display: flex; justify-content: space-between; align-items: center;">
        <div id="add-contact-button" onclick="openForm()">
            <img id="plus-image" src="{% static 'images/plus.png' %}">
        </div>
        <form method="GET">
            {% csrf_token %}
            <input id="search-bar" contenteditable="True" name="search"></input>
            <input type="submit" hidden />
        </form>

    </div>

    <div id="add-contact-popup">
        <div style="width:100%; padding-top: 10px; margin-left:40px; display: flex; flex-direction:row; align-items: center;">
            <div class="unselectable" style="font-size: 32px; margin-right: 95px;" onclick="closeForm()">X</div>
            <div>New Contact</div>
        </div>
        <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <!--{{ form.as_p }}-->
            <input class = "contact-input" type="text" placeholder="Name" name="name">
            <input class = "contact-input" type="text" placeholder="Phone" name="phnum">
            <input class = "contact-input" type="text" placeholder="Email" name="email">
            <input class = "contact-input" type="text" placeholder="Address" name="address">
            <input class = "contact-input" style="font-size:18px;" type="text" placeholder="Preffered Contact Method" name="PCM">
            <input class = "contact-input" id="description-input" type="text" placeholder="Description" name="Description">
            <input style="font-size:18px; margin-bottom:20px;" type="file" name="ProfilePicture">
            <input class="new-contact-buttons" type="submit" value="Create Contact" name="addContact"/></input>
        </form>
    </div>

    <script>
        function openForm(){
            document.getElementById("add-contact-popup").style.display = "flex";
        }
        function closeForm(){
            document.getElementById("add-contact-popup").style.display = "none";
        }
    </script>


    <div id="contact-list">
    {% for contact in contacts %}
        <a style="height: 180px; width: 150px; margin: 20px;" href="{% url 'contact' contact.id %}">
            <div class="contact-square">
                <img class="contact-image" style="margin-right: 30px;" src="{{contact.ProfilePicture.url}}"></img>
            </div>
            <div style="display: flex; justify-content:center">{{contact.name}}</div>
        </a>
    {% endfor %}
    </div>
</body>

{% endblock %}

</html>